<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEM visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/geotiff"></script>
  </head>
  <body>
    <!-- 헤더 섹션 -->
    <div class="header">시각화 기능 페이지</div>

    <!-- 컨테이너 섹션 (사이드바와 메인 콘텐츠) -->
    <div class="container">
      <div class="sidebar">
        <div class="button-group">
          <button onclick="refreshPage()">새로고침</button>
          <button onclick="openFileDialog()">업로드</button>
          <input type="file" id="fileInput" onchange="handleFileUpload(event)" />
        </div>
        <h2>파일</h2>
        <ul id="fileList" class="file-list">
          <!-- 업로드된 파일이 여기에 추가됩니다 -->
          <li>현재 업로드된 파일이 없습니다.</li>
        </ul>
      </div>

      <div class="main-content">
        <!-- 시각화 영역 -->
        <div class="container" id="canvas-container"></div>
      </div>
    </div>
  </body>
</html>
